:root {
    /* Colors */
    --bkg: #ffffff;
    --nav: #F55A5A;
    --link: #918e9b;
    --black: #2b283a;
    --link-highlight: #F55A5A;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: unset;
    padding: unset;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

::selection {
    background: var(--link-highlight);
    color: white;
}

img {
    -webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	user-select: none;
	
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	-ms-user-drag: none;
	user-drag: none;
    
    max-width: 100%;
	height: auto;
	vertical-align: middle;
	font-style: italic;
	background-repeat: no-repeat;
	background-size: cover;
	shape-margin: .75rem;
}

nav {
    background: var(--nav);
    color: var(--bkg);
    display: flex;
    place-content: center;
    padding: .5rem 1rem;
    
    .nav--logo-wrapper {
        color: inherit;
        margin: unset;
        padding: unset;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .5rem;
        transition: color 200ms ease;
        
        svg {
            flex-shrink: 0;
        }
    }
    
    .nav--logo-wrapper:hover,
    .nav--logo-wrapper:focus {
        color: var(--black);
    }
}

main {
    padding: 3rem 2rem;
    color: var(--black);
}

.card--grid-wrapper {
    display: grid;
    width: 100%;
    grid-template: 1fr / 1fr;
    grid-auto-rows: 1fr;
    max-width: 960px;
    margin-inline: auto;
}

.card {
    display: grid;
    grid-auto-rows: max-content;
    grid-template: 1fr / clamp(125px,30vw,250px) 1fr;
    align-items: stretch;
    gap: 2rem;
    transition: grid-template 200ms ease;
    
    .card--img-wrapper {
        aspect-ratio: 2 / 3;
        width: 100%;
        object-fit: cover;
        border-radius: .5rem;
        flex-grow: 1;
        flex-shrink: 0;
        overflow: hidden;
        transition: filter 1000ms, aspect-ratio 100ms;
        
        .card--img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    
    .card--img-wrapper:hover {
        filter: saturate(2);
    }
    
    .card--eyebrow-items {
        display: flex;
        gap: .5rem;
        align-items: center;
        font-size: .75rem;
        flex-wrap: wrap;
        flex-shrink: 1;
        
        svg {
            width: .565em;
        }
        
        .card--location {
            text-transform: uppercase;
            letter-spacing: .17em;
        }
        
        a {
            color: var(--link);
            text-underline-offset: .25em;
            transition: color 200ms;
        }
        
        a:hover,
        a:focus {
            color: var(--link-highlight);
        }
    }
    
    .card--content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 1;
        flex-grow: 1;
        flex-wrap: wrap;
        gap: 1rem;
        max-width: 100%;
        
        .card--dates {
            display: flex;
            font-weight: 700;
            font-size: .75rem;
            flex-wrap: wrap;
        }
        
        h1 {
            margin: unset;
            text-wrap: balance;
            flex-shrink: 1;
        }
        
        p {
            line-height: 1.5;
            font-size: 1rem;
            text-wrap: pretty;
            margin: unset;
            flex-shrink: 1;
            max-width: 65ch;
        }
    }
}

.card:not(:first-of-type) {
    padding-block-start: 2rem;
}

.card:not(:last-of-type) {
    border-bottom: .125rem solid #f5f5f5;
    padding-block-end: 2rem;
}

@media (max-width: 600px) {
    .card {
        grid-template: 1fr / 1fr;
        
        .card--img-wrapper {
            aspect-ratio: 2 / 1;
        }
    }
}